<% cache do %>
  <div class="col-sm-4">
    <div class="tech-item">
      <div class="tech-img">
        <img alt="Kotlin" src="/images/technologies/kotlin.png" height="75">
      </div>
      <h3 class="tech-item-head">
        Kotlin
      </h3>
      <p>
        <%= t('.description', raise: true) %>
      </p>
    </div>
  </div>
<% end %>
