<% cache do %>
  <div class="col-sm-4">
    <div class="tech-item">
      <div class="tech-img">
        <img alt="Swift" src="/images/technologies/swift.png" height="75">
      </div>
      <h3 class="tech-item-head">
        Swift
      </h3>
      <p>
        <%= t('.description') %>
      </p>
    </div>
  </div>
<% end %>
