<section class="job-wrap">
  <div class="container-sm">
    <div class="job">
      <div class="row">
        <div class="col-sm-6">
          <h2>Мы ищем креативных людей, желающих развиваться и работать над интересными проектами</h2>
          <p>Binary Blitz — команда разработчиков приложений и сайтов, дизайнеров и маркетологов, каждый из которых является гуру в своем деле.</p>
          <p>Мы предлагаем творческий подход и свежий взгляд, используем новейшие технологии при решении задач, чтобы создавать удобные, современные и клиентоориентированные продукты.</p>
        </div>
        <div class="col-sm-6">
          <div class="job-content">
            <h2>Преимущества работы в
команде Binary Blitz</h2>
            <ul>
              <li>
                <img src="images/icon-money.png" alt="">
                <span>Конкурентная заработная плата</span>
              </li>
              <li>
                <img src="images/icon-rocket.png" alt="">
                <span>Проекты, позволяющие совершенствовать свои профессиональные навыки</span>
              </li>
              <li>
                <img src="images/icon-location.png" alt="">
                <span>Возможность работать удаленно из любой точки мира</span>
              </li>
              <li>
                <img src="images/icon-calendar.png" alt="">
                <span>Гибкий график работы</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Open-job -->

<section class="open-job-wrap">
  <div class="open-job-header">
    <div class="container-sm">
      <h2 class="head open-job-header-head">Открытые вакансии</h2>
    </div>
  </div>
  <div class="open-job-items">
    <div class="open-job-item">
      <div class="container-sm">
        <div class="open-job-head">iOS developer (Swift) <span>+</span></div>
        <div class="open-job-content">
          <p>Основное направление разработки — клиент-серверные приложения. Необходимо грамотно выстраивать коммуникации с сервером, поэтому требуется умение работать с RESTful API и HTTP. Будет плюсом, если имеется опыт разработки серверных приложений.</p>
          <p>Данная вакансия подразумевает работу над одним проектом в течение длительного периода времени. В составе команды проекта 4 разработчика, дизайнер и менеджер.</p>
          <div class="open-job-content-wrap">
            <div class="row">
              <div class="col-sm-4">
                <h3>Обязательно:</h3>
                <ul>
                  <li>Знание и применение Auto Layout</li>
                  <li>Знание iOS Human Interface Guidelines</li>
                  <li>Опыт работы с iTunes Connect и Developer Center</li>
                  <li>Умение работать с Facebook iOS SDK и VK iOS SDK</li>
                  <li>Хорошее знание английского языка (B2 и выше)</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Приветствуется:</h3>
                <ul>
                  <li>Знание Objective-C</li>
                  <li>Знание архитектурных паттернов (MVP, MVVM)</li>
                  <li>Умение работать с Fabric и Fastlane</li>
                  <li>Умение работать с популярными библиотеками (Alamofire, SwiftyJSON, RxSwift и т.д.)</li>
                  <li>Наличие open-source проектов</li>
                  <li>Наличие тестов в любом виде</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Бонусы работы с нами:</h3>
                <ul>
                  <li>Гибкий график (возможность совмещать работу с учебой)</li>
                  <li>Медицинское обслуживание</li>
                  <li>Офис в центре Москвы</li>
                  <li>Только интересные проекты</li>
                  <li>Молодой коллектив из выпускников лучших вузов страны</li>
                  <li>Премирование по итогам сдачи проекта</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="open-job-callback">
            <h2 class="head open-job-callback-head">Откликнуться на вакансию</h2>
            <p>
              Отправляйте резюме с указанием вакансии на <a href="mailto:jobs@binaryblitz.ru">jobs@binaryblitz.ru</a>
              <br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="open-job-item">
      <div class="container-sm">
        <div class="open-job-head">Android developer (Java / Kotlin) <span>+</span></div>
        <div class="open-job-content">
          <p>Основное направление разработки — клиент-серверные приложения. Необходимо грамотно выстраивать коммуникации с сервером, поэтому требуется умение работать с RESTful API и HTTP. Будет плюсом, если имеется опыт разработки серверных приложений.</p>
          <p>Данная вакансия подразумевает работу над одним проектом в течение длительного периода времени. В составе команды проекта 4 разработчика, дизайнер и менеджер.</p>
          <div class="open-job-content-wrap">
            <div class="row">
              <div class="col-sm-4">
                <h3>Обязательно:</h3>
                <ul>
                  <li>Знание и применение отзывчивой вёрстки</li>
                  <li>Знание Material Design и Android User Interface Guidelines</li>
                  <li>Опыт работы с Google Play Developer Console</li>
                  <li>Умение работать с Facebook Android SDK и VK Android SDK</li>
                  <li>Хорошее знание английского языка (B2 и выше)</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Приветствуется:</h3>
                <ul>
                  <li>Знание Kotlin</li>
                  <li>Знание архитектурных паттернов (MVP, MVVM)</li>
                  <li>Умение работать с Fabric и Fastlane</li>
                  <li>Умение работать с популярными библиотеками (Retrofit, RxJava, Realm и т.д.)</li>
                  <li>Наличие open-source проектов</li>
                  <li>Наличие тестов в любом виде</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Бонусы работы с нами:</h3>
                <ul>
                  <li>Гибкий график (возможность совмещать работу с учебой)</li>
                  <li>Медицинское обслуживание</li>
                  <li>Офис в центре Москвы</li>
                  <li>Только интересные проекты</li>
                  <li>Молодой коллектив из выпускников лучших вузов страны</li>
                  <li>Премирование по итогам сдачи проекта</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="open-job-callback">
            <h2 class="head open-job-callback-head">Откликнуться на вакансию</h2>
            <p>
              Отправляйте резюме с указанием вакансии на <a href="mailto:jobs@binaryblitz.ru">jobs@binaryblitz.ru</a>
              <br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="open-job-item">
      <div class="container-sm">
        <div class="open-job-head">Ruby on Rails developer <span>+</span></div>
        <div class="open-job-content">
          <p>Ищем Ruby on Rails разработчика в полностью удалённую команду.</p>

          <div class="open-job-content-wrap">
            <div class="row">
              <div class="col-sm-4">
                <h3>Обязательно:</h3>
                <ul>
                  <li>Уверенное знание Ruby и Ruby on Rails, умение пользоваться Git</li>
                  <li>Умение писать красивый, эффективный и поддерживаемый код в соответствии со style guide</li>
                  <li>Опыт развёртывания приложений</li>
                  <li>Знание HTML, Slim / Haml, Sass, умение верстать отзывчивые интерфейсы</li>
                  <li>Хорошее знание английского языка (B2 и выше)</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Приветствуется:</h3>
                <ul>
                  <li>Наличие open-source проектов (присылайте проекты или профиль на GitHub)</li>
                  <li>Опыт создания API</li>
                  <li>Умение писать хорошие тесты</li>
                  <li>Опыт работы с Amazon AWS, Heroku</li>
                  <li>Опыт разработки RESTful API, мобильных приложений</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Бонусы работы с нами:</h3>
                <ul>
                  <li>Гибкий график (возможность совмещать работу с учебой)</li>
                  <li>Медицинское обслуживание</li>
                  <li>Офис в центре Москвы</li>
                  <li>Только интересные проекты</li>
                  <li>Молодой коллектив из выпускников лучших вузов страны</li>
                  <li>Премирование по итогам сдачи проекта</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="open-job-callback">
            <h2 class="head open-job-callback-head">Откликнуться на вакансию</h2>
            <p>
              Отправляйте резюме с указанием вакансии на <a href="mailto:jobs@binaryblitz.ru">jobs@binaryblitz.ru</a>
              <br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
