<%= provide(:title, t('.title')) %>

<section class="job-wrap">
  <div class="container-sm">
    <div class="job">
      <div class="row">
        <div class="col-sm-6">
          <h2>We look for creative people to work on our projects</h2>
          <p>Binary Blitz is a team of app & web developers, designers, marketers who are experts in their field.</p>
        </div>
        <div class="col-sm-6">
          <div class="job-content">
            <h2>Why work at Binary Blitz</h2>
            <ul>
              <li>
                <img src="images/icon-money.png" alt="">
                <span>Competetive pay</span>
              </li>
              <li>
                <img src="images/icon-rocket.png" alt="">
                <span>Focus on personal and professional development</span>
              </li>
              <li>
                <img src="images/icon-location.png" alt="">
                <span>Work remotely from any place in the world</span>
              </li>
              <li>
                <img src="images/icon-calendar.png" alt="">
                <span>Flexible hours and asynchronous work</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Open-job -->

<section class="open-job-wrap">
  <div class="open-job-header">
    <div class="container-sm">
      <h2 class="head open-job-header-head">Open positions</h2>
    </div>
  </div>
  <div class="open-job-items">
    <div class="open-job-item">
      <div class="container-sm">
        <div class="open-job-head">iOS developer (Swift) <span>+</span></div>
        <div class="open-job-content">
          <p>Join one of our teams to build groundbreaking apps. Most of our apps involve communications with the server, so experience in backend development is very welcome though not required.</p>
          <div class="open-job-content-wrap">
            <div class="row">
              <div class="col-sm-4">
                <h3>Required:</h3>
                <ul>
                  <li>Experience with Auto Layout</li>
                  <li>Knowledge of iOS Human Interface Guidelines</li>
                  <li>Experience with iTunes Connect and Developer Center</li>
                  <li>Experience with Facebook iOS SDK and VK iOS SDK</li>
                  <li>Good written and spoken English</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Welcome:</h3>
                <ul>
                  <li>Design patterns (MVP, MVVM)</li>
                  <li>Fabric and Fastlane</li>
                  <li>Popular libraries (Alamofire, SwiftyJSON, RxSwift и т.д.)</li>
                  <li>Open-source</li>
                  <li>Tests</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Benefits:</h3>
                <ul>
                  <li>Flexible hours</li>
                  <li>Healthcare coverage</li>
                  <li>Interesting projects</li>
                  <li>Frequent bonuses</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="open-job-callback">
            <h2 class="head open-job-callback-head">Apply</h2>
            <p>
              Send your CV with a cover letter to <a href="mailto:jobs@binaryblitz.ru">jobs@binaryblitz.ru</a>
              <br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="open-job-item">
      <div class="container-sm">
        <div class="open-job-head">Android developer (Kotlin) <span>+</span></div>
        <div class="open-job-content">
          <p>Join one of our teams to build groundbreaking apps. Most of our apps involve communications with the server, so experience in backend development is very welcome though not required.</p>
          <div class="open-job-content-wrap">
            <div class="row">
              <div class="col-sm-4">
                <h3>Required:</h3>
                <ul>
                  <li>Experience with adaptive layout</li>
                  <li>Knowledge of Material Design and Android User Interface Guidelines</li>
                  <li>Experience with Google Play Developer Console</li>
                  <li>Experience with Facebook Android SDK and VK Android SDK</li>
                  <li>Good written and spoken English</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Welcome:</h3>
                <ul>
                  <li>Design patterns (MVP, MVVM)</li>
                  <li>Fabric и Fastlane</li>
                  <li>Popular libraries (Retrofit, RxJava, Realm и т.д.)</li>
                  <li>Open-source</li>
                  <li>Tests</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Benefits:</h3>
                <ul>
                  <li>Flexible hours</li>
                  <li>Healthcare coverage</li>
                  <li>Interesting projects</li>
                  <li>Frequent bonuses</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="open-job-callback">
            <h2 class="head open-job-callback-head">Apply</h2>
            <p>
              Send your CV with a cover letter to <a href="mailto:jobs@binaryblitz.ru">jobs@binaryblitz.ru</a>
              <br><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="open-job-item">
      <div class="container-sm">
        <div class="open-job-head">Ruby on Rails developer <span>+</span></div>
        <div class="open-job-content">
          <p>Ищем Ruby on Rails разработчика в полностью удалённую команду.</p>

          <div class="open-job-content-wrap">
            <div class="row">
              <div class="col-sm-4">
                <h3>Required:</h3>
                <ul>
                  <li>Уверенное знание Ruby и Ruby on Rails, умение пользоваться Git</li>
                  <li>Умение писать красивый, эффективный и поддерживаемый код в соответствии со style guide</li>
                  <li>Опыт развёртывания приложений</li>
                  <li>Знание HTML, Slim / Haml, Sass, умение верстать отзывчивые интерфейсы</li>
                  <li>Good written and spoken English</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Welcome:</h3>
                <ul>
                  <li>Наличие open-source проектов (присылайте проекты или профиль на GitHub)</li>
                  <li>Опыт создания API</li>
                  <li>Умение писать хорошие тесты</li>
                  <li>Опыт работы с Amazon AWS, Heroku</li>
                  <li>Опыт разработки RESTful API, мобильных приложений</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h3>Benefits:</h3>
                <ul>
                  <li>Flexible hours</li>
                  <li>Healthcare coverage</li>
                  <li>Interesting projects</li>
                  <li>Frequent bonuses</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="open-job-callback">
            <h2 class="head open-job-callback-head">Apply</h2>
            <p>
              Send your CV with a cover letter to <a href="mailto:jobs@binaryblitz.ru">jobs@binaryblitz.ru</a>
              <br><br>
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
