<section class="consult-wrap">
  <div class="container-sm">
    <div class="consult">
      <h2 class="head consult-head">Консультации по повышению конверсии сайтов и приложений</h2>
      <p>Мы можем помочь, даже если у вас уже есть сайт или мобильное приложение. Наша команда проанализирует продукт. Предложит, согласует, внесет изменения и сделает его современным и эффективным.</p>
      <p>Ключевым показателем эффективности и качества продукта является конверсия - соотношение числа пользователей, совершивших целевое действие (переход по ссылке, покупку, регистрацию, оставивших отзыв и тому подобное) к общему количеству посетителей.</p>
      <p>Повышение конверсии строится на использовании статистики, собираемой при помощи аналитических инструментов, таких как Яндекс.Метрика, Google Analytics, AppsFlyer. Наши эксперты на основании полученных данных и своего профессионального опыта проводят анализ рекламных источников и оценку юзабилити сайта, что дает возможность оптимизировать сайт с точки зрения дизайна, структуры, содержания и устранить существующие ошибки таким образом, чтобы достичь максимальных показателей конверсии.</p>
    </div>
  </div>
</section>

<section class="conversion-wrap">
  <div class="container-sm">
    <div class="conversion">
     <h2 class="head conversion-head">Как мы повышаем конверсию?</h2>
      <div class="conversion-items">
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion1.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Настраиваем аналитику</h2>
            <p>Собираем необходимые статистические данные и определяем конверсию до начала работ.</p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion2.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Анализируем рекламу</h2>
            <p>Предлагаем улучшения рекламной кампании.</p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion3.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Аудит юзабилити продукта</h2>
            <p>Проводим аудит исходного кода, дизайна и логики сайта и др., предлагаем рекомендации по улучшению. </p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion4.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Делаем изменения</h2>
            <p>Вносим согласованные изменения и исправления.</p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion5.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Получаем результат</h2>
            <p>Фиксируем полученную конверсию и составляем отчет о результатах.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- consulting -->

<section class="consulting-wrap">
  <div class="container-sm">
    <div class="consulting">
      <h2 class="head consulting-head">Содержание консалт-кейса</h2>
      <div class="consulting-items">
        <div class="consulting-item">
          <img src="images/consulting-img.png" alt="">
        </div>
        <div class="consulting-item">
          <h2 class="consulting-item-head">Проблема</h2>
          <p>Что за компания, с каким продуктом и с какой проблемой обратилась к нам.</p>
          <h2 class="consulting-item-head">Гипотеза</h2>
          <ul>
            <li>Слишком запутанная структура сайта</li>
            <li>Неявные призывы к действию</li>
            <li>Сайт не внушает доверия посетителям</li>
            <li>Отсутствие веб-аналитики (Яндекс.Метрика, Google Analytics)</li>
            <li>Неправильная работа с контекстной рекламой (Google Ads, Яндекс.Директ)</li>
          </ul>
        </div>
        <div class="consulting-item">
          <h2 class="consulting-item-head">Что мы сделали</h2>
          <ul>
            <li>Разработка рекламной компании вашего продукта</li>
            <li>Настройка таргетированной рекламы (Facebook, Instagram, VK)</li>
            <li>Настройка контекстной рекламы (Google Ads, Яндекс.Директ)</li>
            <li>SMM — продвижение вашего продукта в социальных сетях</li>
            <li>Ведение каналов рекламы: Медийные и баннерные размещения, Видео реклама, таргетинг, контекст</li>
            <li>Поддержка и изменение сайтов и мобильных приложений компании</li>
            <li>Юридическое IT сопровождение вашего продукта</li>
          </ul>
        </div>
        <div class="consulting-item">
          <ul>
            <li>Email-маркетинг - триггерные, стимулирующие, информационные рассылки, сегментация, персонализация</li>
            <li>Умение правильно оптимизировать рекламу (CPM, ROI, CPO, CPI)</li>
            <li>Анализ данных систем веб-аналитики (Яндекс.Метрика, Google Analytics) для повышения конверсии</li>
            <li>Умение работать с нестандартными каналами рекламы и механиками привлечения пользователей</li>
            <li>Внешняя оптимизация: наращивание ссылочной массы‚ работа с публикациями статей, блогами‚ социальными сетями‚ информационными и новостными порталами‚ каталогами, форумами</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
