<%= provide(:title, t('.title')) %>

<section class="consult-wrap">
  <div class="container-sm">
    <div class="consult">
      <h2 class="head consult-head">Increase conversion rate of your app or website</h2>
      <p>We can help even if you already have an app or a website. Our team will analyze your product. We will offer improvements to your product to make it modern and more efficient.</p>
      <p>Conversion is the key metric. The ratio of users who performed desired action (clicks, purchases, signups, reviews, etc.) to the total number of users.</p>
      <p>By using statistics collected by analytic tools (e.g. Google Analytics, AppsFlyer, etc.) our experts can analyze your revenue sources. After that, our team will recommend content, design and usability improvements to your product to improve your key indicators.</p>
    </div>
  </div>
</section>

<section class="conversion-wrap">
  <div class="container-sm">
    <div class="conversion">
     <h2 class="head conversion-head">How we improve conversion rate</h2>
      <div class="conversion-items">
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion1.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Setting up analytics</h2>
            <p>Collecting statistics about your current conversion rate.</p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion2.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Analyzing ads</h2>
            <p>Recommendations to improve your ad campaigns.</p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion3.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Usability audit</h2>
            <p>We will audit your source code, design, site logic. Recommendations for many aspects of your product.</p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion4.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Making changes</h2>
            <p>All recommended changes can be implemented by our team.</p>
          </div>
        </div>
        <div class="conversion-item">
          <div class="conversion-item-img">
            <img src="images/conversion5.png" alt="">
          </div>
          <div class="conversion-item-content">
            <h2 class="conversion-item-content-head">Result</h2>
            <p>We will provide the complete report containing data on improvements to your metrics.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- consulting -->

<section class="consulting-wrap">
  <div class="container-sm">
    <div class="consulting">
      <h2 class="head consulting-head">Case study</h2>
      <div class="consulting-items">
        <div class="consulting-item">
          <img src="images/consulting-img.png" alt="">
        </div>
        <div class="consulting-item">
          <h2 class="consulting-item-head">The problem</h2>
          <p>The company and their problem.</p>
          <h2 class="consulting-item-head">Hypothesis</h2>
          <ul>
            <li>Crowded site structure</li>
            <li>Hidden or no call to action</li>
            <li>Does not invoke trust</li>
            <li>Lack of analytics (Google Analytics)</li>
            <li>Incorrect placement of context ads (Google Adwords)</li>
          </ul>
        </div>
        <div class="consulting-item">
          <h2 class="consulting-item-head">What we did</h2>
          <ul>
            <li>Setting up ad campaigns for your product</li>
            <li>Targeted ads (Facebook, Instagram, Twitter)</li>
            <li>Context ads (Google Ads)</li>
            <li>SMM — promotion of your product in social media</li>
            <li>Media promotion: banners, video ads</li>
          </ul>
        </div>
        <div class="consulting-item">
          <ul>
            <li>Email-marketing - triggers, newsletters, segmentation, personalization</li>
            <li>Ad optimization (CPM, ROI, CPO, CPI)</li>
            <li>Data analysis from analytic tools (Google Analytics) for increased conversion rate</li>
            <li>External optimization: increased backlink diversity‚ article publishing, blogs, social networks‚ catalogs, forums</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
