<!-- Showcase -->
<section class="showcase">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6">
        <img alt="" src="images/iPhone-screen.png">
      </div>
      <div class="col-sm-6 col-sm-pull-6">
        <h2 class="showcase-head head">
          Разработка iOS и Android мобильных приложений любой сложности
        </h2>
        <p class="showcase-text">
          So you’re trying to surf a site like myspace, hotmail or yahoo mail from work.
        </p>
        <div class="showcase-links">
          <a class="btn" href="#">наши проекты</a> <a class="btn" href="#">Рассчитать стоимость</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Showcase -->
<section class="showcase showcase-second cf">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6">
        <img alt="" src="images/iMac.png">
      </div>
      <div class="col-sm-6 col-sm-pull-6">
        <h2 class="showcase-head head">
          Создание лендингов web-приложений интернет магазинов
        </h2>
        <p class="showcase-text">
          Or maybe you want to go on a site without anyone knowing what your doing.
        </p>
        <div class="showcase-links">
          <a class="btn" href="#">наши проекты</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="about-head head">
          Мы разрабатываем дизайн для совершенно разных целей
        </h2>
        <div class="about-items">
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-strategy"></i>
            </div>
            <div class="about-text">
              Формирование стратегии и позиционирования бренда
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-brand"></i>
            </div>
            <div class="about-text">
              Разработка логотипа и фирменного стиля
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-webmob"></i>
            </div>
            <div class="about-text">
              Дизайн сайтов и мобильных приложений
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-ads"></i>
            </div>
            <div class="about-text">
              Дизайн для рекламных компаний в интернете и полиграфический дизайн
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-video"></i>
            </div>
            <div class="about-text">
              Видео и фото продакшн
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2 class="about-head head">
          Экспертные консультации в области продвижение и технической реализации сайтов и мобильных приложений
        </h2>
        <div class="about-items">
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-marketingplan"></i>
            </div>
            <div class="about-text">
              Составление маркетингового плана по продвижению продукта
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-auditcode"></i>
            </div>
            <div class="about-text">
              Аудит программного кода
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-analysis"></i>
            </div>
            <div class="about-text">
              Комплексный анализ дизайна продукта
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-conversion"></i>
            </div>
            <div class="about-text">
              Рекомендации по повышению конверсии продаж сайта или мобильного приложения
            </div>
          </div>
          <div class="about-item">
            <div class="about-icon">
              <i class="icon-tz"></i>
            </div>
            <div class="about-text">
              Написание технического задания
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Callback -->
<section class="callback">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="head callback-head">
          Напишите нам о своей проблеме и наши специалисты помогут вам найти оптимальное решение.
        </h2>
      </div>
      <div class="col-sm-6">
        <%= form_for SupportRequest.new, html: { class: 'form' } do |f| %>
          <%= f.email_field :email, placeholder: 'Ваш email' %>
          <%= f.text_field :content, placeholder: 'Ваш вопрос' %>
          <%= button_tag 'отправить', class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
