<!-- Project -->
<section class="project-wrap">
  <div class="container">
    <div class="row">
      <div class="project">
        <div class="col-sm-7">
          <a class="project-back" href="/projects"><i class="icon-back-w"></i> Проекты</a>
          <div class="project-type">
            Мобильное приложение
          </div><img alt="" class="project-logo" src="/images/projects/chisto/chisto-logo.png">
          <h2 class="project-head">
            Все химчистки в одном приложении
          </h2>
          <p class="project-descr">
            Содержите вещи в чистоте не выходя из дома вместе с Chisto. Больше не нужно ходить в химчистку. Курьер заберёт вещи и вернёт их чистыми.
          </p>
          <div class="project-links">
            <a href="https://itunes.apple.com/us/app/chisto/id1165430647"><img alt="" src="/images/app-store.png"></a>
            <a href="https://play.google.com/store/apps/details?id=ru.binaryblitz.Chisto"><img alt="" src="/images/google-play.png"></a>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="project-img">
            <img alt="" src="/images/projects/chisto/chisto-iphone.png" height="550">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- App -->
<section class="app-wrap">
  <div class="container">
    <div class="app">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="app-head head">
            О приложении
          </h2>
          <p>
            С приложением Chisto вам больше не нужно тратить время на походы в химчистку.
          </p>
          <p>
            Выберите подходящего исполнителя по цене и срокам выполнения заказа.
          </p>
          <p>
            Оплатите заказ банковской картой в приложении, через Apple Pay или наличными курьеру.
          </p>
        </div>
        <div class="col-sm-6">
          <div class="app-images">
            <img alt="" src="/images/projects/chisto/chisto-screen-01.png"> <img alt="" src="/images/projects/chisto/chisto-screen-02.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tech -->
<section class="tech-wrap">
  <div class="container">
    <div class="tech">
      <h2 class="tech-head head">
        Технологии
      </h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="tech-item">
            <div class="tech-img">
              <img alt="" src="/images/tech1.png">
            </div>
            <h3 class="tech-item-head">
              Ruby on Rails
            </h3>
            <p>
              As anyone who has experience knows, there are advantages and disadvantages to outsourcing software development.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tech-item">
            <div class="tech-img">
              <img alt="" src="/images/tech2.png">
            </div>
            <h3 class="tech-item-head">
              Haml
            </h3>
            <p>
              Usage of the Internet is becoming more common due to rapid advancement of technology and the power.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tech-item">
            <div class="tech-img">
              <img alt="" src="/images/tech3.png">
            </div>
            <h3 class="tech-item-head">
              CodeIgniter
            </h3>
            <p>
              The moment you think of buying a Web Hosting Plan, you know one thing – So many choices, which one to choose.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
