$main: #1e1f1e;
$hover: #a3adaf;

/* Calc */

.calc {
  text-align: center;
  padding: 5rem 0 4rem;
  &-head {
    font-size: 2.375em;
    margin-bottom: 3rem;
  }
  &-name {
    height: 6rem;
    font-size: 1.5em;
    font-weight: 400;
    line-height: (30/24);
  }
  &-slider {
    margin-bottom: 6.25rem;
    position: relative;
    .slick-dots {
      position: absolute;
      bottom: -50px;
      width: 280px;
      text-align: center;
      left: 50%;
      margin-left: -140px;
      button {
        text-indent: -9999px;
        width: 4px;
        height: 4px;
        background-color: $hover;
        border-radius: 50%;
        border: none;
        display: inline-block;
        vertical-align: middle;
      }
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px;
        cursor: pointer;
        width: 20px;
        text-align: center;
        height: 20px;
        line-height: 20px;
        &:hover,
        &.slick-active {
          button {
            margin-top: 1px;
            width: 6px;
            height: 6px;
            background: $main;
          }
        }
      }
    }
  }
  &-select {
    width: 21%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    color: $hover;
    transition: 200ms;
    &.active {
      color: $main;
    }
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    i {
      font-size: 5em;
      margin-bottom: 1.5rem;
      display: inline-block;
    }
    p {
      font-size: 1em;
      font-weight: 700;
    }
  }
  &-links {
    a, button, .calc-submit {
      vertical-align: middle;
      margin: 0 4px;
      font-size: 0.75em;
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
  &-item {
    .form {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
