/* Contacts */

.contacts {
  padding: 10rem 4.5rem 5.5rem;
  &-head {
    height: 10rem;
  }
  &-items {
    margin-top: 0.6;
  }
  &-item {
    margin-bottom: 3.5rem;
    i {
      font-size: 1.875rem;
      display: inline-block;
      vertical-align: middle;
      width: 1.875rem;
      text-align: center;
      margin-right: 2.3rem;
    }
    p,
    a {
      font-size: 1.375em;
      display: inline-block;
      vertical-align: middle;
      font-weight: 300;
    }
  }
  &-inputs {
    margin-bottom: 1.875rem;
    input {
      width: 47%;
      font-size: 1.125rem;
      &:first-child {
        margin-right: 6%;
      }
    }
  }
  .btn {
    font-size: 0.75em;
  }
}
