/* Footer */

.footer {
  padding: 2.5rem 4.5rem;
}

.copy,
.address,
.tel {
  font-size: 0.9375em;
  i {
    margin-right: 0.9375rem;
    font-size: 1.25em;
    display: inline-block;
    vertical-align: middle;
  }
}

.address {
  text-align: center;
}

.tel {
  text-align: right;
}
