/* Showcase */

.showcase {
  padding: em(185) 0;
  &-head {
    margin-top: 0;
    max-width: 70%;
    margin-bottom: rem(50);
    padding-top: rem(50);
  }
  &-text {
    font-size: em(24);
    line-height: (30/24);
    max-width: 80%;
    margin-bottom: rem(55);
  }
  &-links {
    a:first-child {
      margin-right: rem(18);
    }
  }
}

/* About */

.about {
  margin-top: em(100);
  margin-bottom: em(180);
  &-head {
    height: rem(225);
    padding-left: rem(50);
    max-width: 90%;
  }
  &-items {
    padding-left: rem(50);
  }
  &-item {
    margin-bottom: rem(45);
  }
  &-icon {
    width: rem(100);
    display: inline-block;
    vertical-align: middle;
    i {
      font-size: em(45);
    }
  }
  &-text {
    font-size: em(18);
    line-height: (26/18);
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
  }
}

/* Callback */

.callback {
  padding: em(100) 0 em(130);
  &-head {
    font-size: em(28);
    max-width: 70%;
    margin-top: rem(10);
  }
  .form {
    padding-left: 56px;
    width: 80%;
  }
}

.form {
  input,
  textarea {
    font-size: em(18);
    font-family: 'Proxima Nova';
    color: $main;
    border: none;
    border-bottom: 1px solid $hover;
    height: rem(35);
    width: 100%;
    background: none;
    margin-bottom: 35px;
    &::-webkit-input-placeholder {
      color: $hover;
      font-weight: 300;
    }
    &:-moz-placeholder {
      color: $hover;
      font-weight: 300;
    }
    &::-moz-placeholder {
      color: $hover;
      font-weight: 300;
    }
    &:-ms-input-placeholder {
      color: $hover;
      font-weight: 300;
    }
  }
  textarea {
    height: 100px;
    resize: none;
  }
  button {
    font-size: em(12);
    margin-top: rem(30);
  }
}
