/* Works */

.works {
  padding: 0 4.5rem;
  &-nav {
    padding: 3rem 0;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4.5rem;
      a {
        font-size: 1.25em;
        &.active {
          color: $hover;
        }
      }
    }
  }

  &-item {
    height: 300px;
    overflow: hidden;
    padding: 3.5rem 0.5rem 0.5rem 3.5rem;
    &:hover {
      background-size: 105%;
      .works-hover {
        opacity: 1;
      }
      .works-bg {
        left: -5px;
        right: -5px;
        top: -5px;
        bottom: -5px;
      }
    }
  }
  &-hover {
    background: rgba(0,0,0,.1);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 300ms;
  }
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: 300ms;
  }
  &-logo {
    height: 7.5rem;
  }
  &-type {
    font-weight: 600;
  }
  &-name {
    font-size: 1.5em;
    font-weight: 600;
    line-height: (30/24);
    max-width: 260px;
    margin-top: 0.3125rem;
  }
}

.works-item_light {
  color: #fff;
}
