/* Project */

.header-project {
  background: #48c2f8;
  .nav li a,
  .lang,
  .callback-link {
    color: #fff;
  }
  .nav li a {
    &:hover,
    &.active {
      color: $main;
    }
  }
  .callback-link {
    border-color: #fff;
    &:hover {
      background: #fff;
      color: $main;
    }
  }
  .burger-wrap a span,
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    background: #fff;
  }
  .nav ul {
    background: #48c2f8;
  }
}

.project-wrap {
  background: #48c2f8;
  padding: 3.5rem 0 4.875rem;
}

.project {
  padding: 0 4.5rem;
  color: #fff;
  &-back {
    display: inline-block;
    margin-bottom: .75rem;
    color: #fff;
    font-size: 0.95em;
    &:hover {
      color: $main;
    }
    i {
      font-size: 0.7em;
      margin-right: 0.875rem;
      display: inline-block;
      vertical-align: top;
      padding-top: 0.125rem;
    }
  }
  &-type {
    font-size: 1.25em;
  }
  &-logo {
    padding: 4.375rem 0;
  }
  &-head {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  &-descr {
    font-size: 1.5em;
    line-height: 1.4;
    padding-right: 2.5rem;
    margin-bottom: 3.5rem;
  }
  &-links {
    a:first-child {
      margin-right: 0.3125rem;
    }
  }
  &-img {
    padding-top: 2rem;
    text-align: center;
  }
}

/* App */

.app {
  &-wrap {
    background: #fff;
  }
  padding: 5rem 4.5rem;
  &-head {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.125em;
    line-height: (27/18);
    margin-bottom: 1.875rem;
    max-width: 500px;
  }
  &-images {
    img {
      border-radius: 6px;
      box-shadow: 0 0 30px rgba(13, 24, 23, 0.2);
      display: inline-block;
      vertical-align: top;
      margin-right: 30px;
    }
  }
}

/* Tech */

.tech {
  padding: 6.25rem 4.5rem 7.5rem;
  &-head {
    margin-bottom: 3.5rem;
  }
  &-img {
    height: 7rem;
  }
  &-item-head {
    font-size: 1.5em;
    margin-bottom: 1.875rem;
  }
  p {
    font-size: 1.125em;
    line-height: (27/18);
  }
}

.gray {
  background: rgba(0, 0, 0, 0.1);
}

.orange {
  background-color: #e68e2d;
}

.gethelp {
  background-color: #f26b11;
}

.academia {
  background-color: #fceedb;

  .project, .project-back {
    color: #1e1f1e;
  }
}

.justforyou {
  background-color: #f47836;
}

.onevsone {
  background-color: #e42831;
}

.sportup {
  background-color: #33ccdf;
}
