@import 'bootstrap';

$main: #1e1f1e;
$hover: #a3adaf;
$browser-context: 16;

// Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  outline: none;
}

*:focus,
*:active{
  outline: none !important;
}

body {
  color: $main;
  font-weight: 400;
  font-family: 'Proxima Nova';
  background: #f8f9f9;
}

a {
  color: $main;
  text-decoration: none;
  transition: 300ms;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $hover;
  }
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1320px;
  margin: 0 auto;
  position: relative;
}

.head {
  font-weight: 600;
  font-size: 2em;
  line-height: (42/32);
  margin-top: 0;
  margin-bottom: 0;
}

.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  margin-top: 1.25rem;
}

.panel-danger {
  margin-top: 1.25rem;
}

.field_with_errors input {
  border-color: red !important;
}

// Button

.btn {
  line-height: 2.25rem;
  border: 1px solid $main;
  border-radius: 1.125rem;
  padding: 0 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75em;
  background: none;
  transition: 300ms;
  &:hover {
    background: $main;
    color: #fff;
  }
}

@import 'fancybox';
@import 'slick.js';

@import 'navbar';
@import 'index';
@import 'consulting';
@import 'jobs';
@import 'footer';
@import 'projects';
@import 'project';
@import 'calculator';
@import 'contact';
@import 'modal';
@import 'media';
