<!-- Footer -->
<footer class="footer-wrap">
  <div class="container">
    <div class="row">
      <div class="footer">
        <div class="col-sm-3">
          <div class="copy">
            © BinaryBlitz 2017
          </div>
        </div>
        <div class="col-sm-6">
          <div class="address">
            <i class="icon-location"></i>Москва, ул. Большая Никитская д. 22
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tel">
            <a href="tel:79855558860"><i class="icon-phone"></i>+7 985 555-88-60</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
