<% cache do %>
  <!-- Footer -->
  <footer class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="footer">
          <div class="col-sm-3">
            <div class="copy">
              © Binary Blitz 2019
            </div>
          </div>
          <div class="col-sm-6">
            <div class="address">
              <i class="icon-location"></i><%= t('.address') %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="tel">
              <a href="tel:74951152864"><i class="icon-phone"></i>+7 495 115-28-64</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>
