<!-- Navbar -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="logo">
          <a href="/"><img alt="" src="/images/logo.png"></a>
        </div>
        <nav class="nav">
          <div class="burger-wrap">
            <a href="#"><span></span></a>
          </div>
          <ul>
            <li>
              <a href="/projects">Проекты</a>
            </li>
            <li>
              <a href="/contact">Контакты</a>
            </li>
            <li>
              <a href="/calculator">Калькулятор</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-4">
        <div class="header-links">
          <% if I18n.locale == I18n.default_locale %>
            <%= link_to 'EN', url_for(locale: :en), class: 'lang' %>
          <% else %>
            <%= link_to 'RU', url_for(locale: :ru), class: 'lang' %>
          <% end %>
          <a class="callback-link fancybox btn" href="#modal">Обратный звонок</a>
        </div>
      </div>
    </div>
  </div>
</header>
